:root {
  --primary-color: #12263B;
  --secondary-color: #203A6A;
  --accent1-color: #415a77;
  --accent2-color: #5F6F84;
  --accent3-color: #e0e1dd;

  --heading-font: "Roboto", sans-serif;
  --paragraph-font: 'Nunito Sans', sans-serif;

  --headline-color-on-white: #203A6A;  
  --headline-color-on-color: #FFFFFF; 
  --paragraph-color-on-white: black; 
  --paragraph-color-on-color: #FFFFFF; 
  --header-background-color: #12263B;
  --text-background-color: #415a77;
  --nav-link-color: black;
  --nav-background-color: #203A6A;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #5F6F84;
  --footer-background-color: #12263B;
  --footer-color-on-white: #12263B;  
  --footer-color-on-color: #FFFFFF; 
}

html {
  background-color: var(--accent3-color);
}

body {
    max-width: 100%;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    padding: 1em;
    font-family: var(--paragraph-font);
}

/*
========================================
Header
========================================
*/
    
header {
  color: var(--paragraph-color-on-color);
  background-color: var(--header-background-color);
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  text-align: center;
}

nav {
  list-style: none;
  margin-top: 5px;
}

.navigation {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.navigation a {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  color: var(--headline-color-on-color);
  }

nav ul a {
  margin-left: 10px;
  margin-right: 10px;
  }

nav ul a:link, a:active {
  text-decoration:none;
  color: var(--headline-color-on-color);
}

nav ul a:visited {
  color: var(--headline-color-on-color);
  text-decoration:none;
}

nav ul a:hover {
  border-bottom-style:solid ;
  border-bottom-width: 3px;
  border-bottom-color: var(--accent3-color);
  }

/*
========================================
Hamburg Menu
========================================
*/

#menu {
  font-size: 25px;
  border: 0;
  background: none;
  color: var(--paragraph-color-on-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "✖";
}

.open a {
  display: block;
}

.open a:hover {
  border-bottom-style:solid ;
  border-bottom-width: 3px;
  border-bottom-color: var(--accent3-color);
}

/*
========================================
Main
========================================
*/

main h1 {
    color: var(--headline-color-on-color);
    background-color: var(--headline-color-on-white);
    text-align: center;
    font-size: 50px;
    font-family: var(--heading-font);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

main h2 {
    font-size: 40px;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    padding-top: 20px;
    padding-bottom: 10px;
}

main h3 {
  font-size: 25px;
  text-align: center;
  font-family: var(--heading-font);
  color: var(--accent1-color);
  margin-bottom: 10px;
}

.home-grid {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 1em;
margin: 10px 5px 10px 5px;
}

.home-grid p a {
  text-decoration:none;
  color: var(--paragraph-color-on-color);
}

.home-grid p a:visited {
  color: var(--paragraph-color-on-color);
  text-decoration:none;
}

.home-headline-1, .home-headline-2 {
grid-column: 1 / 6;
margin-bottom: 5px;
margin-top: 5px;
}

.home-paragraph-1, .home-paragraph-2, .home-paragraph-3 {
  padding: 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-right-img, .home-left-img {
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-paragraph-1 {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
  background-color: var(--accent1-color);
  color: var(--paragraph-color-on-color);
}

.home-right-img {
  grid-column: 4 / 6;
  grid-row: 3 / 4;
}

.home-paragraph-2 {
  grid-column: 3 / 6;
  grid-row: 2 / 6;
  background-color: var(--accent2-color);
  color: var(--paragraph-color-on-color);
}

.home-paragraph-2 li {
  line-height: 25px;
  font-size: 15px;
}

.home-left-img {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

.home-paragraph-3, .contact-us, .formContainer {
  padding: 5px;
  font-family: var( --paragraph-font);
  font-size: 18px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0px;
  line-height: 30px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 50px;
  margin-right: 50px;
}

.home-paragraph-3 p {
  padding: 5px;
  font-family: var( --paragraph-font);
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: justify;
}

.home-paragraph-3 ul {
  margin-top: 5px;
  margin-bottom: 15px;
}

.home-paragraph-3 li {
  line-height: 25px;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 0px;
}

.contact-info, .contact-form, .services-title {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
  line-height: 40px;
  text-align: justify;
}

p {
  padding: 5px;
  font-family: var( --paragraph-font);
  font-size: 18px;
  margin-bottom: 5px;
  text-align: justify;
}

/*
========================================
Sources List
========================================
*/


.styled-list {
  padding: 0;
}

.styled-list li {
  margin: 10px 0;
}

.styled-list a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.styled-list a:hover {
  color: #2c3e50;
}

.styled-list a:visited {
  color: black; 
}


/*
========================================
Form
========================================
*/

.contactForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  margin-top: 15px;
}

.contactForm fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.contactForm div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contactForm label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.contactForm input[type="email"],
.contactForm input[type="number"],
.contactForm input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contactForm button[type="submit"] {
  width: 50%;
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 120px;
  margin-top: 20px;
}

.contactForm button[type="submit"]:hover {
  background-color: var(--secondary-color);
}

input:required:invalid, input:focus:invalid {
  background-color: rgb(248, 173, 173);
  background-position: right top;
  background-repeat: no-repeat;
 }

 input:required:valid {
  background-color: rgb(196, 242, 196);
  background-position: right top;
  background-repeat: no-repeat;
 }

 textarea  {
  margin-top: 10px;
  font-size: 15px;
  width: 100%;
  height: 150px;
}

.title-1 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--headline-color-on-white);
}

.feedback {
  color: var(--paragraph-color);
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 30px;
  font-size: 25px;
  color: var(--paragraph-color-on-color);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--text-background-color);
}


/*
========================================
Card Services
========================================
*/
.card p {
  line-height: 30px;
}

.card section {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.card section:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card h3 {
  margin: 16px;
  font-size: 1.5rem;
  color: var(--headline-color-on-white);
}

.card p {
  margin: 16px;
  font-size: 1rem;
  color: var(--primary-color);
}

.title {
  margin-bottom: 20px;
}

.card-description {
  font-weight: bold;
}


/*
========================================
Footer
========================================
*/

footer {
  background-color: var(--footer-background-color); 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  grid-column: 1 / 4;
  margin-top: 10px;
}

.footer p {
  color: var(--footer-color-on-color);
  font-size: 15px;
  text-align: center; 
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer p a {
  text-decoration:none;
  color: var(--footer-color-on-color);
}

.footer p a:visited {
  color: var(--footer-color-on-color);
  text-decoration:none;
}

@media (max-width: 600px) {

  body {
    max-width: 100%;
    margin: 10px;
  }
  
  /*
  ========================================
  Header
  ========================================
  */
  
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px; 
    font-size: 10px;
    line-height: 30px;
  }

  header img {
    width: 40%;
    margin-top: 20px;
  }
  
 /*
========================================
Menu
========================================
*/

.navigation {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 5px;
}

.navigation a {
  display: none;
  margin-top: 7px;
  margin-bottom: 7px; 
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  line-height: 20px;
}

nav ul a:link, a:visited, a:active {
  text-decoration:none;
  color: var(--headline-color-on-color);
}

nav ul a:visited {
  color: var(--headline-color-on-color);
}

/*
========================================
Hamburg Menu
========================================
*/


#menu {
  font-size: 30px;
  border: 0;
  background: none;
  color: var(--headline-color-on-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-top: 20px;
  margin-right: 10px;
}

#menu::before {
content: "☰";
}

#menu.open::before {
content: "✖";
}

.open a {
display: block;
}

.open a:hover {
border-bottom-style:solid ;
border-bottom-width: 3px;
border-bottom-color: var(--accent3-color);
}

  /*
  ========================================
  Main
  ========================================
  */
  
  main {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  
  h1, h2, h3 {
    text-align: center;
  }

  main h1 {
    font-size: 35px;
  }
  
  main h2 {
    font-size: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  main h3 {
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  p {
    font-size: 15px;
  }
    
  .home-grid, .home-headline-1, .home-headline-2, .home-paragraph-1,
  .home-paragraph-2, .home-paragraph-3, .home-right-img, .home-left-img  {
  display: flex;
  flex-direction: column;
}

.home-paragraph-1, .home-paragraph-2,
.home-paragraph-3 p {
  font-size: 15px;
  margin-left: 1px;
  margin-right: 1px;
  line-height: 30px;
}
.contact-us, .contact-form p {
  font-size: 15px;
  margin-left: 1px;
  margin-right: 1px;
  line-height: 30px;
}

.home-paragraph-1, .home-paragraph-2 {
  margin-bottom: 30px;
}

.home-paragraph-3 {
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 1px;
  padding-right: 1px;
}

.home-paragraph-2 ul {
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5%;
  padding-right: 0px;
}

.home-paragraph-2 ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-paragraph-3 ul {
  list-style: none;
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.home-paragraph-2,
.home-paragraph-3 li {
  font-size: 15px;
  line-height: 25px;
  max-width: 100%;
  text-align: left;
}

}

.contact-info, .contact-form, .services-title {
margin: auto;
}

.contact-info p {
  margin-top: 1px;
  margin-bottom: 1px;
}

hr {
  height: 1px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--accent1-color);
}

   /*
========================================
Card Services
========================================
*/

.card section {
  width: 100%;
}


   /*
========================================
Form
========================================
*/

.formContainer {
  font-size: 16px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.contactForm {
  width: 220px;
  margin: auto;
  padding: 10px;
  font-size: 16px;
}

.title-1 {
  font-size: 15px;
}

textarea {
  width: 210px;
  margin: auto;
}

.contactForm button[type="submit"] {
  margin-left: 60px;
  width: 40%;
  margin-bottom: 10px;

}

   /*
========================================
Source List
========================================
*/

.styled-list li {
  margin: 15px 1px;
  font-size: 12px;
  list-style:disc;


}

   /*
========================================
Footer
========================================
*/

footer {
  margin-left: 1px;
  margin-right: 1px;
  max-width: 100%;
}

.footer p {
  font-size: 11px;
}

@media (min-width: 600px) and (max-width: 740px) {

  body {
    max-width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

   /*
========================================
Header
========================================
*/

  header {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px; 
    text-align: center;
  }

 /*
========================================
Menu
========================================
*/

.navigation {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 5px;
}

.navigation a {
  font-size: 20px;
  }

/*
========================================
Hamburg Menu
========================================
*/

#menu {
  font-size: 30px;
  margin-right: 20px;
}

 /*
========================================
Main
========================================
*/

main {
  display: flex;
  flex-direction: column;
}

.home-grid, .home-headline-1, .home-headline-2, .home-paragraph-1,
.home-paragraph-2, .home-right-img, .home-left-img {
  display: flex;
  flex-direction: column;
  }

 /*
========================================
Card
========================================
*/
.card section {
  width: 100%;
}

   /*
========================================
Source List
========================================
*/

.styled-list li {
  margin: 20px 0;

}

 /*
========================================
Footer
========================================
*/

.footer p {
font-size: 13px
}

}
  
@media (min-width: 768px) and (max-width: 1200px) {

  body {
    max-width: 100%;
  }

   /*
========================================
Main
========================================
*/

  main {
      display: flex;
      flex-direction: column;
  }

/*
========================================
Source List
========================================
*/

.styled-list li {
  margin: 8px 0;
}

  
}