:root {
    --primary-color: #12263B;
    --secondary-color: #203A6A;
    --accent1-color: #415a77;
    --accent2-color: #5F6F84;
    --accent3-color: #e0e1dd;
  
    --heading-font: "Roboto", sans-serif;
    --paragraph-font: 'Nunito Sans', sans-serif;
  
    --headline-color-on-white: #203A6A;  
    --headline-color-on-color: #FFFFFF; 
    --paragraph-color-on-white: black; 
    --paragraph-color-on-color: #FFFFFF; 
    --header-background-color: #12263B;
    --text-background-color: #415a77;
    --nav-link-color: black;
    --nav-background-color: #203A6A;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #5F6F84;
    --footer-color-on-white: #12263B;  
    --footer-color-on-color: #FFFFFF; 
  }
  
  html {
    background-color: var(--accent3-color);
  }
  
  body {
    max-width: 50%;
    margin: auto;
    background-color: white;
    padding: 1em;
    font-family: var(--paragraph-font);
  }
  
  h1, h2 {
    font-family: var(--heading-font);
  }
 
  header {
    padding: 5px;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--header-background-color);
    line-height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  header h1 {
    color: var(--headline-color-on-color);
  }

  fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
  }

  select {
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
  }

  #date, #name {
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    width: 150px;
  }

 .rating, .checkbox {
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
  }

  .check {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  textarea  {
    margin-top: 10px;
    font-size: 15px;
    width: 600px;
    height: 200px;
  }

  .title-1 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--headline-color-on-white);
  }

  .title-2 {
    font-size: 0.9em;
    font-style: italic;
  }
  
  .feedback {
    color: var(--paragraph-color);
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 30px;
    font-size: 25px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--text-background-color);
  }

  .button {
    width: 150px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color: var(--headline-color-on-white);
    margin-left: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  footer {
      background-color: var(--footer-color-on-white); 
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: var(--footer-color-on-color);
      font-size: 15px;
      text-align: center; 
      margin-top: 20px;
      letter-spacing: 1px;
      border-radius: 5px;
    }
  
    @media (max-width: 600px) {
      body {
        max-width: 100%;
      }
    
      header {
        margin-top: 5px;
        margin-bottom: 5px; 
        font-size: 10px;
        line-height: 30px;
      }

      fieldset {  
        max-width: 80%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      textarea  {
        width: 200px;
        height: 200px;
      }

      .button {
        margin: 50px;  
      }

      .feedback {

        font-size: 20px;

      }
    

      footer {
          margin: auto;
      }
  
      footer p {
          text-align: center;
          line-height: 10px;
          font-size: 12px;
          letter-spacing: 0;
      }  
    
    }
    
    @media (min-width: 600px) and (max-width: 768px) {
    
      body {
        max-width: 100%;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
      }
  
      main {
          display: flex;
          flex-direction: column;
      }
    
    }
    
    @media (min-width: 768px) and (max-width: 1200px) {
    
      body {
        max-width: 100%;
      }
  
      main {
          display: flex;
          flex-direction: column;
      }
  
   
    }